/**
 * Block styles
 */
@import (reference) "variables.less";
@import (reference) "mixins.less";
@import (reference) "buttons.less";

.wp-block-button {
  .wp-block-button__link {
    .btn-core-properties;
  }
  .is-style-outline {
    .wp-block-button__link {
    }
  }
  .is-style-squared {
    .wp-block-button__link {
      border-radius: 0;
    }
  }
}
.wp-block-pullquote {
  padding: 0;
}
.wp-block-image {
  .aligncenter,
  .alignleft,
  .alignright,
  &.is-resized {
    display: table;
    > figcaption {
      display: table-caption;
      caption-side: bottom;
      box-sizing: border-box;
    }
  }
  &.alignwide {
    &:not(.navis-slideshow) {
      .classic & {
        figcaption {
          @media ( min-width: 1229px ) {
            margin-left: ~"calc( 0.5 * ( 100vw - 1170px ) )"; // the left margin on #page, as a negative.
            transform: none;
          }
          @media ( max-width: 1228px ) {
            margin-left: 2.5vw; // the left margin on #page, as a negative.
            transform: none;
          }
          @media ( max-width: 768px ) {
            margin-left: 2.5vw;
            margin-right: 2.5vw;
          }
        }
      }
      figcaption {
        margin-right: calc(0.5 * (95vw * 0.17021276594) );
        margin-left: calc(0.5 * (95vw * 0.17021276594) );
        @media (max-width: 979px) {
          margin-left: calc(0.5 * (2.5vw + 6.38297872%) );
          margin-right: calc(0.5 * (2.5vw + 6.38297872%) );
        } 
      }
    }
  }
  &.alignfull {
    width: 100%;
    margin-left: 0%;
    transform: unset;
    max-width: 100%;
    &:not(.navis-slideshow) {
      .classic & {
        img {
    
          // because #page does not have box-sizing: border-box but does have padding 0 2.5%
          // 1170px * 1.05 = 1228.5px
          //
          // 1170px: the max-width of #page;
          // 2.5vw: padding-left and padding-right on #page when #page is whole width of viewport
          // 24px: padding-left on #sidebar.widget
          // 2.12765957%: margin-left on #sidebar since it is a .span4
          // 1170px * 2.12765957%: acceptable bleed from #content into the gutter of the sidebar, at that viewport width
          // 95vw * 2.12765957%: acceptable bleed, below that viewport width
          @media ( min-width: 1229px ) {
            width: ~"calc( 100% + ( 0.5 * ( 100vw - 1170px ) ) + ( 1170px * 0.0212765957 ) )"; // the column width plus the left margin on #page, plus the bleed figure
            margin-left: ~"calc( -0.5 * ( 100vw - 1170px ) )"; // the left margin on #page, as a negative.
            transform: none;
          }
          @media ( max-width: 1228px ) {
            width: ~"calc( 100% + 2.5vw + ( 95vw * 0.0212765957 ) )"; // the column width plus the left margin on #page, plus the bleed figure
            margin-left: -2.5vw; // the left margin on #page, as a negative.
            transform: none;
          }
          @media ( max-width: 768px ) {
            width: 100vw;
          }
        }
      }
      img {
        width: 100vw;
        margin-left: 50%;
        transform: translateX(-50%);
        max-width: none;
      }
    }
  }
  &.alignwide,
  &.alignfull {
    &.navis-slideshow {
      figcaption {
        width: 100%;
      }
    }
  }
}
.wp-block-gallery {
  // standard block display
  .blocks-gallery-image,
  .blocks-gallery-item {
    figcaption {
      box-sizing: border-box;
      text-align: left; // override Gutenberg's figcaption centering
      padding: 10px; // reduce blank space, because clicking on the figcaption doesn't trigger a click on the image to open the gallery.
      max-height: 50%; // to prevent very long captions from covering the image.
    }
  }

  // block in Navis slideshow
  .blocks-gallery-image,
  .blocks-gallery-item {
    .navis-single {
      figcaption {
        // these styles are to match styles in largo/lib/navis-slideshows/css/slides.css
        background-color: rgba(0,0,0,.7);
        color: #ccc;
        padding: 1em 17.023%!important;
        padding-bottom: 32px!important;
        margin: 0!important;
        bottom: 0;
        position: absolute;
        border: none;
        font-size: 16px;
      }
    }
  }

  &ul {
    list-style: none;
    margin-left: 0;
  }
  &.is-cropped {
    .blocks-gallery-image,
    .blocks-gallery-item {
      a, img {
        height: auto;
        -o-object-fit: scale-down;
        object-fit: scale-down;
      }
    }
  }
}
